@note-container-background: #83c3f7;
@groups-background-color: #f5f5f5;
@notes-background-color: @groups-background-color;
@note-details-background-color: #fafafa;
@note-details-fonts: "Roboto", "Helvetica", "Arial", sans-serif;
@add-item-container-height: 4em;
//#eceff1
@groups-width: 400px;
@notes-width: @groups-width;

 * {
  padding: 0;
  margin: 0;
 }
html {
  font-family: Arial, Helvetica, sans-serif;
  height: 100%;
}

body {
  background-color: #fafafa;
  height: 100%;
}

#root {
  height: 100%;
}

.vertical-line {
  border-left: 1px solid #bdbdbd;
  height: 100%;
}
.list-item-template(){
  width: 90%;
  margin: 0 auto;
}

.add-item-template() {
  justify-content: flex-end;
  position: absolute;
  width: 100%;
  bottom: 0;
  height: @add-item-container-height;
  background-color: #e0e0e0;
  .add-btn {
    align-self: center;
    margin: 0 5px;
  }
  .add-item-text {
    align-self: center;
    margin: 0 5px 0px 10px;
    width: 100%;
  }
  .progress {
    align-self: center;
    margin-left: 5px;
  }
}

.container {
  height: 100%;
  // margin: 0 20px 0 20px;
  display: flex;
    .groups {
      position: relative;
      width: @groups-width;
      // margin-right: 20px;
      background-color: @groups-background-color;
      .list-item {
        .list-item-template();
      }
  
      .add-item-container {
        display: flex;
        .add-item-template();
      }
    }
    .notes {
      position: relative;
      width: @notes-width;
      background-color: @notes-background-color;
      .list-item {
        .list-item-template();
      }
      .add-item-container{
        display: flex;      
        .add-item-template();
      }
    }
    .filler {
      display: flex;
      width: 100%;
      justify-content: center;
      
      h1{
        opacity: 0.3;
        align-self: center;
      }
    }
  
  

  .note-details-container {
    position: relative;
    display: block;
    background-color: @note-details-background-color;
    width: 100%;

    .menu-btn {
      position: absolute;
      top: 10px;
      left: 10px;
    }

    .title-container {
      height: 15%;
      .title {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        .text:hover {
          cursor: pointer;
        }  
        .edit {
          input {
            font-size: 2.8125rem;
            text-align: center;
            width: 100%;
            color: rgba(0, 0, 0, 0.54);
            font-weight: 400;
            font-family: @note-details-fonts;
            line-height: 1.13333em;
            margin-left: -.02em;
            background-color: @note-details-background-color;
            border: 0;
          }
        }
      }
      
    }
    .divider {
      width: 75%;
      margin: 0 auto 2em auto;
    }
    .content { 
      height: calc(85% - 3em);
      width: 90%;
      margin: 0 auto;
      padding: 0;
      .paper {
        height: calc(100% - @add-item-container-height);
        textarea {
          background: transparent;
          border: none;
          margin: 1em;
          // margin-top: 0.3em;
          width: calc(100% - 1.5em);
          font-family: @note-details-fonts;
          //font-family: Arial, Helvetica, sans-serif;
          line-height: 1.5em;
          font-weight: 200;
          font-size: 1.5em;;
          resize: none;
          height: calc(100% - 2em);
        }
      }
      
      //safe to delete
      // div {
      //   width: 100%;
      //   height: 100%;
      //   padding: 0;
      //   margin: 0;
      //   textarea {
      //     padding-top: 0.3em;
      //     margin-bottom: 10em;
      //     padding-bottom: 10em;
      //     line-height: 1em;
      //     font-size: 30px;
      //     resize: none;
      //     height: 100% !important;
      //   }
      // }
    }
  }
}